/**p{
    border-style: double;
    border-width: 25px;
    padding: 25px;
    font-size: 50px;
}**/
h1{
    text-align: center;
<<<<<<< HEAD
    font-size: 40px;
=======
    font-size: 4vw;
>>>>>>> b2cc8342d2d444072c741039b24f0cc80df57ba9
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
   
    
}
h3{
    text-align: center;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
     margin-top: 100px;
}
#fg{
    text-align: left;
    float: left;
    font-size: 50px;
    margin-right: 400px;
    margin-left: 50px;

}
#ng{
    text-align: right;
    float: right;
    font-size: 50px;
    margin-left:50px;
    margin-right: clamp(100px,125px,250px);
}

#mg{
    text-align: left;
    float: left;
    font-size: 50px;
    margin-right: 100px;
    margin-left: 50px;
}
#pp{
    text-align: left;
    float: left;
    font-size: 50px;
    margin-right: clamp(80px,100px,100px);
    margin-left: clamp(15px,20px,50px);
}
#gg{
    text-align: right ;
    float: right;
    font-size: 50px;
    margin-right: 60px;
    margin-left:100px ;

}

#navbar ul{
    list-style-type: none;
    background-color:transparent ;
    padding: 0px;
    margin: 10px ;
    overflow: hidden;
    
}
#navbar a{
    color: white;
    text-decoration: dotted;
<<<<<<< HEAD
    padding:clamp(10px,10px,15px);
    display: block;
    text-align: center;
    font-size: 10px;
    margin: 10px auto;
    max-width: 100%;
    width: 100%;
=======
    padding: 12px;
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 12px auto;
>>>>>>> b2cc8342d2d444072c741039b24f0cc80df57ba9
    margin-top: 60px;
    background-color: rgb(74, 164, 220);
}
#navbar a:hover{
    background-color:gray;
    opacity: 50%;
}
#navbar li{
    float: left;
}
#uu{
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 50cm;
    width: 100%;
    max-width: 20cm;
    border: 5px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: inset -5px -5px rgb(0, 0, 0,0.5);
    border-radius: 25px;
    background-color: transparent;
}
#bob{
    background-image: url("miami.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 70%;
}
.mika{
    margin-top: 150px;
    margin-left: 90px;
    font-size: 30px;
}
.moi{
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
}
.mar{
    background: linear-gradient( pink,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.iso{
    background: linear-gradient(pink,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.papi{
    background: linear-gradient(pink,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.kio{
    background: linear-gradient(pink,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.lol{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 50px;
}
.popi{
    font-size: 45px;
    text-align: center;
    border: solid black;
    border-radius: 25px;
}
.oo{
    float: left;
    font-size: 50px;
    margin-right: 400px;
    margin-left: 50px;
}
.mich{
    margin-left: 2px;
    padding-left: 2px;
}
.miako{
    padding-left: 3px;
    margin-left: 3px;
    margin-right: 30px;
   
}
.miako :hover{
    background-color: blue;
    border: 10px;
    border-radius: 5px;
    border: 0px solid;
}
.miako a{
    display: flex;
}

.bitch{
    text-align: center;
}
.lp{
<<<<<<< HEAD
    margin-right: 30px;
=======
    margin-right: 100px;
>>>>>>> b2cc8342d2d444072c741039b24f0cc80df57ba9
    width: 60px;
    max-width: 60px;
    height: auto;
    display: inline;

}
.ui{
    margin-right: 30px;
}
.ui :hover{
    background-color: rgb(40, 34, 34);
    border: 10px;
    border-radius: 8px;
    border: 0px solid;
    opacity: 80%;
}
.ui a{
    display: flex;
}
.fp{
    margin-right: 30px;
    margin-left: 30px;
}
.fp :hover{
    background-color: rgb(17, 19, 17);
    border: 10px;
    border-radius: 8px;
     border: 0px solid ;
     opacity: 80%;
}
.fp a{
    display: flex;
}
.lp :hover{
   background-color: green;
    border: 10px;
    border-radius: 8px;
     border: 0px solid ;
}
.lp a {
    display: flex;
   
}
.hummer{
    margin-left:clamp(10px,15px,20cm);
    font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
}
#lapin{
    float: left;
}
.alo :hover{
    background-color:rgb(23, 21, 21);
    border: 10px;
    border-radius: 8px;
     border: 0px solid ;
}
.alo a {
    display: flex;
}
/*img{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 15px auto;
}*/

.papillon{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 15px auto;
}
.etoile{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 15px auto;
}
.boite{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 15px auto;
}
.gazo{
    width: 100%;
    max-width: 300px;
    height: auto;
}
.simple{
    width: 100%;
    max-width: 300px;
    height: auto;
}
.analy{
    width: 100%;
    max-width: 300px;
    height: auto;
}
.aply{
    width: 100%;
    max-width: 300px;
    height: auto;
}
.ninho{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 15px auto;
}
.mhd{
    width: 100%;
    max-width: 300px;
    height: auto;
    
}
.mhd{
    width: 100%;
    max-width: 300px;
    height: auto;
    
}
.mhd{
    width: 100%;
    max-width: 300px;
    height: auto;
    
}
.mhd{
    width: 100%;
    max-width: 300px;
    height: auto;
    
}
.mhd{
    width: 100%;
    max-width: 300px;
    height: auto;
    
}
<<<<<<< HEAD
.christ{
    width: 100%;
    max-width: 600px;
    height: auto;
}
.brown{
    width: 100%;
    max-width: 600px;
    height: auto;
}
.boza{
    width: 100%;
    max-width:60px ;
    height: auto;
}
.sisko{
    width: 100%;
    max-width:60px ;
    height: auto;
}
.eyes{
    width: 100%;
    max-width:60px ;
    height: auto;
}
.ice{
    width: 100%;
    max-width:60px ;
    height: auto;
}
.rice{
    width: 100%;
    max-width:60px ;
    height: auto;
}
.bank{
    width:100%;
    max-width: 50px;
    height: clamp(40px,auto,60px);
}
.glow{
    width: 100%;
    max-width: 40px;
    height: auto;
}
.bro{
    width: 100%;
    max-width: 700px;
    height: auto;
}
.sis{
    width: 100%;
    max-width: 700px;
    height: auto;
}
=======
>>>>>>> b2cc8342d2d444072c741039b24f0cc80df57ba9
